<!DOCTYPE html>
<html lang="pt-BR"> 

{{ template "head" . }}

<body>

{{ template "navbar" . }}

<div class="card m-1">
	<div class="card-header">
		<h5>Seus pratos</h5>
	</div>
	<div class="card-body">

		{{ if not .Dishes }}
		<div class="alert alert-warning" role="alert">
			<p>Você ainda não cadastrou nenhum prato.</p>
			<p>Gostaria que criassemos alguns pratos para você como exemplo?</p>
			<button id="btn-create-dishes" class="btn btn-link">Criar um cardápio de exemplo</button>
			<a class="btn btn-link" href="dish">Adicionar um prato</a>
		</div>
		{{ else}}

		<ul class="list-group">
			{{ range .Dishes }}
				{{ template "admin-list-dish" . }}
			{{ end }}
			<li class="list-group-item">
				<button class="btn btn-primary btn-add-dish">Criar pratos</button>
			</li>
		</ul>
		{{ end }}

	</div>
</div>

<input id="current-user-id" value="{{ .UserId }}" hidden />
<input id="current-company-id" value="{{ .CompanyId }}" hidden />

{{ template "footer" . }}

<script>
  	$(document).ready(function() {
  	});

	$('.btn-delete-dish').click(function() {
		console.log('delete');
		const DishId = $(this).closest('li').find('.dish-id').text();
		const UserId = $('#current-user-id').val();
		fetch('/admin/delete-dish', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({UserId:parseInt(UserId), DishId:parseInt(DishId)})
		})
		.then(response => response.json())
		.then(data => {
			if (data.message) {
				showAlert(data.message, 2000);
			} else if (data.error) {
				alert(data.error);
			}
		});
	});

	$('.btn-check-dish').click(function() {
		const DishId = $(this).closest('li').find('.dish-id').text();
		check_uncheck_dish(DishId, true);

		// Troca icone do botão
		$(this).addClass('disabled');
		$(this).find('i').removeClass('bi-square').addClass('bi-check-square');
	});

	$('.btn-uncheck-dish').click(function() {
		const DishId = $(this).closest('li').find('.dish-id').text();
		check_uncheck_dish(DishId, false);

		// Troca icone do botão
		$(this).addClass('disabled');
		$(this).find('i').removeClass('bi-check-square').addClass('bi-square');
	});

	function check_uncheck_dish(DishId, Enabled) {

		const UserId = $('#current-user-id').val();

		// Troca o ícone do botão
		const btn = Enabled ? 'btn-uncheck-dish' : 'btn-check-dish';
		const icon = Enabled ? 'bi-check-square' : 'bi-square';
		$(this).removeClass(btn).addClass(Enabled ? 'btn-check-dish' : 'btn-uncheck-dish');
		$(this).find('i').removeClass(icon).addClass(Enabled ? 'bi-check-square' : 'bi-square');

		fetch('/admin/check-uncheck-dish', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({UserId:parseInt(UserId), DishId:parseInt(DishId), Enabled:Enabled})
		})
		.then(response => response.json())
		.then(data => {
			if (data.message) {
				showAlert(data.message,2000);
			} else if (data.error) {
				alert(data.error);
			}
		});
	}

	$('#btn-create-dishes').click(function() {
		const CompanyId = $('#current-company-id').val();
		const UserId = $('#current-user-id').val();
		fetch('/create-dishes', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({CompanyId:parseInt(CompanyId), UserId:parseInt(UserId)})
		})
		.then(response => response.json())
		.then(data => {
			if (data.message) {
				showAlert(data.message, 5000);
			} else if (data.error) {
				alert(data.error);
			}
		});
});

	function showAlert(message, duration) {
		// Create a new div element for the alert
		const alertDiv = document.getElementById('div-alert');
		alertDiv.hidden = false;
		alertDiv.classList.add('alert', 'alert-info'); // Add CSS classes for styling
		alertDiv.textContent = message;

		// Remove the alert after the specified duration
		setTimeout(() => {
			alertDiv.hidden = true;
		}, duration);
	}

</script>