<!DOCTYPE html>
<html lang="pt-BR"> 

{{ template "head" . }}

<body>

{{ template "navbar" . }}

<div class="container">

	<div class="m-3">
		<h4>Novos Pratos</h4>
	</div>

	<hr>
	<div class="md-3">
		<p>Você tem <span></span> pratos cadastrados até o momento.</p>
		<button type="button" class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#modal-new-dish-images">
			Para incluir um novo, clique aqui e vamos começar!
		</button>
	</div>

{{ template "modal-new-dish-images" . }}
{{ template "modal-pick-dish-images" . }} 
{{ template "modal-new-category" . }}
{{ template "modal-new-dish-name" . }}
{{ template "modal-new-dish-report" . }}

</div>

<input type="number" id="current-user-id" value="{{ .UserId }}" hidden />
<input type="number" id="current-company-id" value="{{ .CompanyId }}" hidden />

{{ template "footer" . }}
</body>

<script>
  	$(document).ready(function() {
		populateCategories();
  	});

	// Event when modal report is shown
	$('#modal-new-dish-report').on('show.bs.modal', function (event) {
		console.log('modal-new-dish-report show.bs.modal');
		const dishName = $('#dish-name').val();
		const dishDescription = $('#dish-description').val();
		const dishPrice = $('#dish-price').val();
		const dishCategory = $('#category-list input:checked').next().text();
		const weekdays = [];
		$('#weekdays-list input:checked').each(function() {
			weekdays.push($(this).next().text());
		});
		const images = [];
		$('#images-list input:checked').each(function() {
			images.push($(this).next().text());
		});

		$('#report-dish-name').text(dishName);
		$('#report-dish-description').text(dishDescription);
		$('#report-dish-price').text(dishPrice);
		$('#report-dish-category').text(dishCategory);
		$('#report-dish-weeekdays').text(weekdays.join(', '));
		$('#report-dish-images').text(images.join(', '));
	});

	// Populate categories
	function populateCategories() {

		const CompanyId = $('#current-company-id').val();
		fetch('/api/get/categories', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ CompanyId:parseInt(CompanyId)})
		})
		.then(response => response.json())
		.then(data => {
			if (data.error) {
				console.log('Error:', data);
				showAlert(data.error, 3000);
			} 
			else {
				const categoryList = $('#category-list');
				categoryList.empty();
				data.categories.forEach(category => {
					categoryList.append(`<div class="form-check col">
						<input class="form-check-input" type="radio" name="categoryRadio"/>
						<label class="form-check">${category.Name}</label>`);
					categoryList.append(`</div>`);
				});
			}
		})
	}

	// Evento quando pressionado ENTER em category name
	$('#category-name').keydown(function(e) {
		console.log('category-name keypress');
		if (e.which == 13) {
			$('.btn-create-category').click();
		}
	});

	// Cria novas categorias
	$('.btn-create-category').click(function() {
		console.log('btn-create-category clicked');
		const Name = $('#category-name').val();
		const CompanyId = $('#current-company-id').val();
		const UserId = $('#current-user-id').val();

		if (!Name) {
			showAlert('Nome da categoria não pode ser vazio!', 3000);
			return;
		}

		console.log('Category:', Name);
		fetch('/api/create/category', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ Name, CompanyId:parseInt(CompanyId), UserId:parseInt(UserId) })
		})
		.then(response => response.json())
		.then(data => {
			if (data.error) {
				console.log('Error:', data);
				showAlert(data.error, 3000);
			} 
			else {
				console.log('Success:', data);
				const categoryList = $('#category-list');
				categoryList.append(`<div class="form-check col">
					<input class="form-check-input" type="radio" name="categoryRadio"/>
					<label class="form-check">${data.category}</label></div>`);

				console.log('Success:', data.message);
				showAlert(data.message, 3000);
			}
		})
	
		$('#category-name').val('');
	});

	function showAlert(message, duration) {
		$('#span-category-success').text(message);
		$('#div-category-success').removeAttr('hidden');
		setTimeout(function() {
			$('#div-category-success').attr('hidden', true).fadeOut();
		}, duration);	
	}

</script>