<!DOCTYPE html>
<html lang="pt-BR"> 

{{ template "head" . }}

<body>

{{ template "navbar" . }}

<div class="container">

	<div class="m-3">
		<h4>Novos Pratos</h4>
	</div>

	<hr>
	<div class="md-3">
		<p>Você tem <span>{{ .Count }}</span> pratos cadastrados até o momento.</p>
		{{ if .Count }}
		<a>Para ver uma amostra do seu Menu, clique aqui</a>
		{{ end }}
	</div>

	<div class="md-3">
		<button type="button" class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#modal-new-dish-images">
			Para incluir um novo, clique aqui e vamos começar!
		</button>
	</div>

{{ template "modal-new-dish-images" . }}
{{ template "modal-pick-dish-images" . }} 
{{ template "modal-new-category" . }}
{{ template "modal-new-dish-name" . }}
{{ template "modal-new-dish-report" . }}

</div>

<input type="number" id="current-user-id" value="{{ .UserId }}" hidden />
<input type="number" id="current-company-id" value="{{ .CompanyId }}" hidden />

{{ template "footer" . }}
</body>

<script>
  	$(document).ready(function() {

		// Set the first category as selected
		//$('#category-list input[type="radio"]').first().prop('checked', true);
		// Set the first two images as selected
		//$('.image-group').slice(0, 2).prop('checked', true);
		//$('#modal-new-dish-report').modal('show');
		//$('#modal-new-dish-name').modal('show');
  	});

	// Event when btn-save-dish is clicked
	$('#btn-save-dish').click(function() {
		console.log('btn-save-dish clicked');
		const dishName = $('#dish-name').val();
		const dishDescription = $('#dish-description').val();
		const dishPrice = $('#dish-price').val();
		const categoryID = $('#category-list input:checked').val();
		const dishCategory = $('#category-list input:checked').next().text();
		console.log('Dish Name:', dishName);
		console.log('Dish Description:', dishDescription);
		console.log('Dish Price:', dishPrice);
		console.log('Dish Category:', categoryID, ' - ', dishCategory);

		const weekdays = [];
		$('.weekday-group').each(function() {
			if ($(this).is(':checked')) {
				weekdays.push(parseInt($(this).val()));
			}
		});
		console.log('Weekdays:', weekdays);

		const paths = [];
		const images = [];
		const image_ids = [];
		$('.image-group').each(function() {
			if ($(this).is(':checked')) {
				images.push($(this).data('original-name'));
				paths.push($(this).data('path'));
				image_ids.push(parseInt($(this).data('image-id')));
			}
		});
		console.log('Images:', images);
		console.log('Paths:', paths);
		console.log('Image IDs:', image_ids);

		const CompanyId = $('#current-company-id').val();
		const UserId = $('#current-user-id').val();

		fetch('/api/save/dish', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ Name:dishName, Description:dishDescription, Price:dishPrice, categoryID:parseInt(categoryID), Weekdays:weekdays, ImageIds:image_ids, CompanyId:parseInt(CompanyId), UserId:parseInt(UserId) })
		})
		.then(response => response.json())
		.then(data => {
			if (data.error) {
				console.log('Error:', data);
				showAlert(data.error, 3000);
			} 
			else {
				console.log('Success:', data);
				showAlert(data.message, 3000);
			}
		})
	});

	// Event when modal report is shown
	$('#modal-new-dish-report').on('show.bs.modal', function (event) {
		console.log('modal-new-dish-report show.bs.modal');
		const dishName = $('#dish-name').val();
		const dishDescription = $('#dish-description').val();
		const dishPrice = $('#dish-price').val();
		const dishCategory = $('#category-list input:checked').next().text();
		console.log('Dish Name:', dishName);
		console.log('Dish Description:', dishDescription);
		console.log('Dish Price:', dishPrice);
		console.log('Dish Category:', dishCategory);

		const weekdays = [];
		$('.weekday-group').each(function() {
			if ($(this).is(':checked')) {
				weekdays.push($(this).next().text());
			}
		});
		console.log('Weekdays:', weekdays);

		const paths = [];
		const images = [];
		const image_ids = [];
		$('.image-group').each(function() {
			if ($(this).is(':checked')) {
				images.push($(this).data('original-name'));
				paths.push($(this).data('path'));
				image_ids.push($(this).data('image-id'));
			}
		});
		console.log('Images:', images);
		console.log('Paths:', paths);
		console.log('Image IDs:', image_ids);
		
		if (!dishName) {
			console.log('Dish name is empty!');
			$('#report-dish-name').addClass('text-danger');
			$('#report-dish-name').val('Nome do prato não informado!');
			$('#btn-save-dish').attr('disabled', true);
		}
		else {
			$('#report-dish-name').removeClass('text-danger');
			$('#btn-save-dish').removeAttr('disabled');
			$('#report-dish-name').val(dishName);
		}

		$('#report-dish-description').val(dishDescription);
		$('#report-dish-price').val(dishPrice);
		$('#report-dish-category').val(dishCategory);
		$('#report-dish-weekdays').val(weekdays.join(', '));

		$('#picked-images').empty();
		paths.forEach((path, index) => {
			$('#picked-images').append(`<div class="col-4 col-sm-3 col-lg-2 col-xl-1 border border-success p-2 border-opacity-10">
				<img src="${path}" class="img-thumbnail" alt="..."></div>`);
		});
	});

	// Evento quando pressionado ENTER em category name
	$('#category-name').keydown(function(e) {
		console.log('category-name keypress');
		if (e.which == 13) {
			$('.btn-create-category').click();
		}
	});

	// Cria novas categorias
	$('.btn-create-category').click(function() {
		console.log('btn-create-category clicked');
		const Name = $('#category-name').val();
		const CompanyId = $('#current-company-id').val();
		const UserId = $('#current-user-id').val();

		if (!Name) {
			showAlert('Nome da categoria não pode ser vazio!', 3000);
			return;
		}

		console.log('Category:', Name);
		fetch('/api/create/category', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ Name, CompanyId:parseInt(CompanyId), UserId:parseInt(UserId) })
		})
		.then(response => response.json())
		.then(data => {
			if (data.error) {
				console.log('Error:', data);
				showAlert(data.error, 3000);
			} 
			else {
				console.log('Success:', data);
				const categoryList = $('#category-list');
				categoryList.append(`<div class="form-check col">
					<input class="form-check-input" type="radio" name="categoryRadio"/>
					<label class="form-check">${data.category}</label></div>`);

				console.log('Success:', data.message);
				showAlert(data.message, 3000);
			}
		})
	
		$('#category-name').val('');
	});

	function showAlert(message, duration) {
		$('#span-category-success').text(message);
		$('#div-category-success').removeAttr('hidden');
		setTimeout(function() {
			$('#div-category-success').attr('hidden', true).fadeOut();
		}, duration);	
	}

</script>