{{ define "modal-new-dish-name" }}

<div class="modal fade" id="modal-new-dish-name" tabindex="-1" aria-labelledby="modal-new-dish" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">4 - Nome do novo prato</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3 form-floating">
					<input type="text" class="form-control" id="dish-name" placeholder="Nome do prato" value="Batata frita com bacon" required>
					<label for="dish-name" class="form-label">Nome</label>
				</div>
				<div class="mb-3 form-floating">
					<textarea class="form-control" id="dish-description" placeholder="Descreva o prato em detalhes" rows="4">Batata frita, bacon, sal, alho</textarea>
					<label for="dish-description" class="form-label">Descrição</label>
				</div>					
				<div class="mb-3 form-floating">
					<input type="text" class="form-control" id="dish-price" name="Price" value="12,00" required>
					<label for="dish-price" class="form-label">Preço</label>
				</div>
				<div class="row small m-2">
					<h6>Dias da Semana</h6>
					<div class="form-check col">
						<input class="form-check-input weekday-group" type="checkbox" value="1" checked>
						<label class="form-check-label" for="monday-switch">Segunda</label>
					</div>
					<div class="form-check col">
						<input class="form-check-input weekday-group" type="checkbox" value="2">
						<label class="form-check-label" for="tuesday-switch">Terça</label>
					</div>
					<div class="form-check col">
						<input class="form-check-input weekday-group" type="checkbox" value="3" checked>
						<label class="form-check-label" for="wednesday-switch">Quarta</label>
					</div>
					<div class="form-check col">
						<input class="form-check-input weekday-group" type="checkbox" value="4" checked>
						<label class="form-check-label" for="thursday-switch">Quinta</label>
					</div>
					<div class="form-check col">
						<input class="form-check-input weekday-group" type="checkbox" value="5">
						<label class="form-check-label" for="friday-switch">Sexta</label>
					</div>
					<div class="form-check col">
						<input class="form-check-input weekday-group" type="checkbox" value="6" checked>
						<label class="form-check-label" for="saturday-switch">Sábado</label>
					</div>
					<div class="form-check col">
						<input class="form-check-input weekday-group" type="checkbox" value="0" checked>
						<label class="form-check-label" for="sunday-switch">Domingo</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-success" data-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal-new-category">Anterior</button>
				<button type="button" class="btn btn-outline-success" data-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal-new-dish-report">Próximo</button>
			</div>
		</div>
	</div>
</div>

{{ end }}