{{ define "modal-new-dish-report" }}

<div class="modal fade" id="modal-new-dish-report" tabindex="-1" aria-labelledby="modal-new-dish-report" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">5 - Resumo das informações</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Feijoada</li>
					<li class="list-group-item">Feijoada completa com bisteca e ovo frito separados</li>
					<li class="list-group-item">R$ 25,00</li>
					<li class="list-group-item">Prato principal
					<li class="list-group-item">Segunda, Terça, Quarta, Quinta, Sexta, Sábado, Domingo</li>
					<li class="list-group-item">Imagem do prato</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-success" data-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal-new-dish-name">Anterior</button>
				<button type="button" class="btn btn-outline-success" data-dismiss="modal" disabled>Salvar</button>
			</div>
		</div>
	</div>
</div>

{{ end }}