{{ define "modal-new-category" }}

<div class="modal fade" id="modal-new-category" tabindex="-1" aria-labelledby="modal-new-category" aria-hidden="true">
	<div class="modal-dialog  modal-fullscreen">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">3 - Seção</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<h6>Você deve escolher uma seção onde o prato será exibido. Caso ainda não exista a seção desejada, basta criar.</h6>
				</div>
				<div class="input-group mb-3">
					<button class="btn btn-outline-secondary btn-create-category" type="button">Salvar</button>
					<input type="text" class="form-control" id="category-name" placeholder="Entradas, sobremesas, etc">
				</div>

				<div id="category-list" class="row">
				</div>

				<div id="div-category-danger" class="alert alert-danger" role="alert" hidden>
					<span id="span-category-danger"></span>
				</div>
				<div id="div-category-success" class="alert alert-success" role="alert" hidden>
					<span id="span-category-success"></span>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal-pick-dish-images">Anterior</button>
				<button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modal-new-dish-name">Próximo</button>
			</div>
		</div>
	</div>
</div>
{{ end }}