{{ define "modal-new-dish-images" }}

<div class="modal fade" id="modal-new-dish-images" tabindex="-1" aria-labelledby="modal-new-dish" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">1 - Carrege novas fotos</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					{{ if .Images }}
						<h6>Você tem as seguintes fotos para escolher na próxima página:</h6>
						<span>{{ .ImageNames }}</span>
					{{ else }}
						<h6>Parece que você ainda não carregou nenhuma foto! No formulário abaixo escolha uma ou mais fotos.</h6>
					{{ end }}
				</div>

				<br>
				<div class="mb-3">
					<h6>Caso a foto desejada não esteja na lista acima, carrege novas fotos e vá para o passo seguinte</h6>
					<form action="/images/upload" method="post" enctype="multipart/form-data">
						<div class="form-group">
							<input type="file" class="form-control-file" id="images" name="images[]" multiple>
						</div>
						<button type="submit" class="btn btn-primary mt-2">Carregar</button>
						<input id="UserId" name="UserId" type="number" value="{{ .UserId }}" hidden/>
						<input id="CompanyId" name="CompanyId" type="number" value="{{ .CompanyId }}" hidden/>
					</form>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal-new-dish">Próximo</button>
			</div>
		</div>
	</div>
</div>
{{ end }}