<!DOCTYPE html>
<html lang="pt-BR">

{{ template "head" . }}

<body>

<div class="centered-container">
   <div class="text-center">
      <h1>Vamos começar!</h1>
		<p>
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#company-name-modal">
         Preencha o formulário para começar
      </button>
		</p>
   </div>
</div>


{{ template "company-name-modal" . }}
{{ template "company-address-modal" . }}
{{ template "company-contact-modal" . }}
{{ template "company-sumary-modal" . }}
{{ template "company-save-modal" . }}
{{ template "company-greetings-modal" . }}

</div>

{{ template "footer" . }}
</body>
</html>


<script>
$(document).ready(function() {
	console.log('company.html');
});

$('.go-to-login').click(function() {
	const email = $('#company-email-id').val();
	window.location.href = '/login?email=' + email;
});

$('#termsCheckId').change(function() {
	if ($(this).is(':checked')) {
		$('#termsCheckLabelId').removeClass('text-danger').addClass('text-success');
	} else {
		$('#termsCheckLabelId').removeClass('text-success').addClass('text-danger');
	}
	enableSaveButton();
});

$('#passwordId').on('input', function() {
	if ($(this).val().length < 8) {
		$(this).removeClass('border border-success').addClass('border border-danger');
	} else {
		$(this).removeClass('border border-danger').addClass('border border-success');
	}
	enableSaveButton();
});

$('#confirmPasswordId').on('input', function() {
	let confirmPassword = $('#confirmPasswordId').val();
	let password = $('#passwordId').val();
	let len = $(this).val().length;

	if ( len < 8 || password != confirmPassword ) {
		$(this).removeClass('border border-success').addClass('border border-danger');
	} else {
		$(this).removeClass('border border-danger').addClass('border border-success');
	}
	enableSaveButton();
});

function enableSaveButton() {

	let confirmPassword = $('#confirmPasswordId').val();
	let password = $('#passwordId').val();
	let len = $('#passwordId').val().length;
	let checked = $('#termsCheckId').is(':checked');

	if ( checked && len >= 8 && ( password == confirmPassword ) ) {
		$('#btn-save-next').removeClass('btn btn-outline-danger disabled').addClass('btn btn-outline-success');
	} else {
		$('#btn-save-next').removeClass('btn btn-outline-success').addClass('btn btn-outline-danger disabled');
	}
}

$('#btn-name-next').click(function() {
	if ( $('#company-name-id').val() == '' ) {
		alert('O nome da empresa é obrigatório.');
		$('#company-name-id').removeClass('border border-success').addClass('border border-danger');
		return;
	}
	$('#company-name-id').removeClass('border border-danger').addClass('border border-success');
	$('#company-name-modal').modal('hide');
	$('#company-address-modal').modal('show');
});

$('#btn-address-previous').click(function() {
	if ( $('#company-city-id').val() == '' ) {
		alert('A cidade é obrigatória.');
		$('#company-city-id').removeClass('border border-success').addClass('border border-danger');
		return;
	}

	$('#company-city-id').removeClass('border border-danger').addClass('border border-success');
	$('#company-address-modal').modal('hide');
	$('#company-name-modal').modal('show');
});

$('#btn-address-next').click(function() {
	$('#company-address-modal').modal('hide');
	$('#company-contact-modal').modal('show');
});

$('#btn-contact-previous').click(function() {
	$('#company-contact-modal').modal('hide');
	$('#company-address-modal').modal('show');
});

$('#btn-contact-next').click(function() {
	$('#company-contact-modal').modal('hide');
	$('#company-sumary-modal').modal('show');
	fillSumary();
	checkSumary();
});

$('#btn-sumary-previous').click(function() {
	$('#company-sumary-modal').modal('hide');
	$('#company-contact-modal').modal('show');
});

$('#btn-sumary-next').click(function() {
	$('#company-sumary-modal').modal('hide');
	$('#company-save-modal').modal('show');
});

$('#btn-save-previous').click(function() {
	$('#company-save-modal').modal('hide');
	$('#company-sumary-modal').modal('show');
});

$('#btn-save-next').click(function() {
	save_company();
});

function save_company() {
	
	const name = $('#company-name-id').val();
	const description = $('#company-description-id').val();
	const category = "Restaurante";
	const street = $('#company-street-id').val();
	const number = $('#company-number-id').val();
	const complement = $('#company-complement-id').val();
	const city = $('#company-city-id').val();
	const state = $('#company-state-id').val();
	const zip = $('#company-zip-id').val();
	const country = $('#company-country-id').val();
	const phone = $('#company-phone-id').val();
	const website = "https://www.example.com";

	fetch('/company-save', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify({name, description, category, street, number, complement, city, state, zip, country, phone, website })
	})
	.then(response => response.json())
	.then(data => {
		if (data.message) {
			save_user(data.CompanyId);
		} else if (data.error) {
			alert(data.error);
		}
	});
}

function save_user(CompanyId) {

	const name = $('#company-admin-id').val();
	const email = $('#company-email-id').val();
	const password = $('#passwordId').val();

	fetch('/user-save', {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json'
		},
		body: JSON.stringify({name, email, password, CompanyId})
	})
	.then(response => response.json())
	.then(data => {
		if (data.message) {
			alert(data.message);
		} else if (data.error) {
			alert(data.error);
		}
	});
}
	
function checkSumary() {

	var email = $('#company-email-id').val();

	$.ajax({
		url: '/company-check-email',
		type: 'POST',
		data: { email: email },
		success: function(response) {
			alert('O email já está em uso.\nCadastre outro email.');
			$('#company-email-id').removeClass('border border-success').addClass('border border-danger');
			$('#company-sumary-modal').modal('hide');
			$('#company-contact-modal').modal('show');
		},
		error: function() {
			$('#btn-sumary-next').removeClass('disabled');
			$('#btn-sumary-next').removeClass('btn btn-outline-danger disabled').addClass('btn btn-outline-success');
			$('#company-sumary-modal').modal('hide');
			$('#company-save-modal').modal('show');
		}
	});
}

function fillSumary() {
	var name = $('#company-name-id').val();
	var description = $('#company-description-id').val();
	var street = $('#company-street-id').val();
	var number = $('#company-number-id').val();
	var complement = $('#company-complement-id').val();
	var city = $('#company-city-id').val();
	var state = $('#company-state-id').val();
	var zip = $('#company-zip-id').val();
	var country = $('#company-country-id').val();
	var phone = $('#company-phone-id').val();
	var admin = $('#company-admin-id').val();
	var email = $('#company-email-id').val();

	$('#p-name-id').text('Nome: ' + name);
	$('#p-description-id').text('Descrição: ' + description);
	$('#p-street-id').text('Rua: ' + street);
	$('#p-number-id').text('Número: ' + number);
	$('#p-complement-id').text('Complemento: ' + complement);
	$('#p-city-id').text('Cidade: ' + city);
	$('#p-state-id').text('Estado: ' + state);
	$('#p-zip-id').text('CEP: ' + zip);
	$('#p-country-id').text('País: ' + country);
	$('#p-phone-id').text('Telefone: ' + phone);
	$('#p-admin-id').text('Administrador: ' + admin);
	$('#p-email-id').text('Email: ' + email);
}

</script>