<!DOCTYPE html>
<html lang="pt-BR"> 

{{ template "head" . }}

<body>

<div class="centered-container">
    <div class="text-center">
        <h1>Vamos começar!</h1>
        <button id="btn-next" class="btn btn-outline-success">Iniciar</button>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-name-id">
            Launch demo modal
        </button>
    </div>

   {{ template "company-logo-modal" . }}
	{{ template "company-address-modal" . }}
	{{ template "company-contact-modal" . }}
	{{ template "company-sumary-modal" . }}
	


</div>
    


</body>

{{ template "footer" . }}
<script>
$(document).ready(function() {

    $('#btn-next').click(function() {
        window.location.href = '/company/logo';
    });

    $('#modal-sumary-id').modal('show');
});

$('#btn-name-id').click(function() {
	$('#modal-name-id').modal('hide');
	$('#modal-contact-id').modal('show');
});


</script>