{{define "company-sumary-modal"}}
<div class="row d-flex justify-content-center">
	<div class="modal modal-xl fade" id="company-sumary-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<div class="modal-header">
					<div class="row">
						<div class="col-12">
							<h3 class="modal-title">Resumo:</h3>
						</div>
						<div class="col-12">
							<label>Confirme os dados e gera uma senha ou revise os dados.</label>
						</div>
					</div>
				</div>

				<div class="modal-body">
					<p id="p-name-id"></p>
					<p id="p-description-id"></p>
					<p id="p-street-id"></p>
					<p id="p-number-id"></p>
					<p id="p-complement-id"></p>
					<p id="p-city-id"></p>
					<p id="p-state-id"></p>
					<p id="p-zip-id"></p>
					<p id="p-country-id"></p>
					<p id="p-phone-id"></p>
					<p id="p-admin-id"></p>
					<p id="p-email-id"></p>
				</div>

				<div class="modal-footer">
					<button type="button" id="btn-sumary-previous" class="btn btn-outline-success">Anterior</button>
					<button type="button" id="btn-sumary-next" class="btn btn-outline-success">Próximo</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}