{{define "company-name-modal"}}
<div class="row d-flex justify-content-center">
	<div class="modal modal-xl fade" id="company-name-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<div class="modal-header">
					<h3 class="modal-title">Nome da sua empresa</h3>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<label for="company-name-id">Digite o nome da sua empresa</label>
							<input id="company-name-id" name="company-name" type="text" class="form-control border border-danger" value="Cantina da Nena"/>
						</div>
					</div>

					<hr>
					<div class="row">
						<div class="col-12">
							<label for="company-description-id">Fale um pouco sobre sua empresa</label>
							<textarea id="company-description-id" name="company-description" type="text" class="form-control" rows="4" placeholder="Restaurante tradicional fundado em 2010 voltado a alimentação saudável"></textarea>
						</div>
						<div class="col-12">
							<span>Campo opcional e pode ser alterado mais tarde</span>
						</div>
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Cancelar</button>
					<button type="button" id="btn-name-next" class="btn btn-outline-success">Próximo</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}

