{{define "company-greetings-modal"}}
<div class="row d-flex justify-content-center">
	<div class="modal modal-xl fade" id="company-greetings-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<div class="modal-header">
					<div class="row">
						<div class="col-12">
							<h3 class="modal-title">Parabéns!</h3>
						</div>
						<div class="col-12">
							<span>Cadastro finalizado com sucesso.</span>
						</div>
					</div>
				</div>

				<div class="modal-body">
					<p class="text-success">
						<button class="btn btn-link go-to-login">Entre a Vá para a página de administração do seu cardápio.</button></p>
					<p>Lá você poderá:</p>
					<ul>
						<li>Adicionar, editar e remover produtos.</li>
						<li>Adicionar, editar e remover categorias.</li>
						<li>Adicionar, editar e remover promoções.</li>
						<li>Adicionar, editar e remover combos.</li>
						<li>Adicionar, editar e remover opções de promoções.</li>
						<li>Criar ou desabilitar usuários</li>
						<li>Gerar um qrcode para seus clientes</li>
					</ul>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-outline-success go-to-login">Iniciar</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}