{{define "company-contact-modal"}}
<div class="row d-flex justify-content-center">
	<div class="modal modal-xl fade" id="company-contact-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<div class="modal-header">
					<div class="row">
						<div class="col-12">
							<h3 class="modal-title">Dados do administrador</h3>
						</div>
						<div class="col-12">
							<label>Usuário que vai administrar o sistema. Outros usuários podem ser acrescentados mais tarde.</label>
						</div>
					</div>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<label for="company-admin">Nome do administrador</label>
							<input id="company-admin-id" name="company-admin" type="text" class="form-control"/>
						</div>

						<div class="col-12">
							<label for="company-email">Email usado para recuperação de senha</label>
							<input id="company-email-id" name="company-email" type="text" class="form-control"/>
						</div>

						<div class="col-12">
							<label for="company-phone">Telefone</label>
							<input id="company-phone-id" name="company-phone" type="text" class="form-control"/>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" id="btn-contact-previous" class="btn btn-outline-success">Anterior</button>
					<button type="button" id="btn-contact-next" class="btn btn-outline-success">Próximo</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}