{{define "company-logo-modal"}}
<div class="row d-flex justify-content-center">
	<div class="modal modal-xl fade" id="modal-name-id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">

				<div class="modal-header">
					<h3 class="modal-title" id="staticBackdropLabel">Nome da sua empresa</h3>
                </div>

				<div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label for="company-name">Digite o nome da sua empresa</label>
                            <input id="company-name-id" name="company-name" type="text" class="form-control"/>
                        </div>
                        <div class="col-12">
                            <label>Campo obrigatório</label>
                        </div>
					</div>

                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <label for="company-description">Fale um pouco sobre sua empresa</label>
                            <textarea id="company-description-id" name="company-description" type="text" class="form-control" rows="4" placeholder="Restaurante tradicional fundado em 2010 voltado a alimentação saudável"></textarea>
                        </div>
                        <div class="col-12">
                            <label>Campo opcional e pode ser alterado mais tarde</label>
                        </div>
					</div>

				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					<button id="modal-description-id" class="btn btn-primary">Próximo</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}