<!DOCTYPE html>
<html lang="pt-BR">

{{ template "head" . }}

<body>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h1>Login</h1>
					</div>
					<div class="card-body">
						<form id="login-form">
							<div class="form-group">
								<label for="email">Email:</label>
								<input type="email" class="form-control" id="email" name="email" value="heron@gmail.com">
							</div>
							<div class="form-group mt-3">
								<div class="row">
									<div class="col-3">
										<button type="submit" class="btn text-success" title="Login">
											Entrar
										</button>
									</div>
									<div class="col-9">
										<input type="password" class="form-control" id="password" name="password" value="123456789">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		document.getElementById('login-form').addEventListener('submit', function(event) {
			event.preventDefault();
			const email = document.getElementById('email').value;
			const password = document.getElementById('password').value;

			fetch('/login', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ email, password })
			})
			.then(response => response.json())
			.then(data => {
				if (data.message) {
					window.location.href = '/admin';
				} else if (data.error) {
					alert(data.error);
				}
			});
		});
	</script>
</body>
</html>