<!DOCTYPE html>
<html lang="pt-BR"> 

{{ template "head" . }}

<body>
<div class="container m-3">

  {{ template "navbar" . }}
  
<div class="card">
    <div class="card-header">
        Lista de Tarefas:
    </div>
      <ul class="list-group list-group-flush">  
        <li class="list-group-item">
          <form id="todo-form" method="post">
            <div class="form-group">
              <div class="row">
                <div class="col-1">
                  <button type="submit" class="btn" title="Adicionar tarefa">
                    <i class="bi bi-plus-lg"></i>
                  </button>
                </div>
                <div class="col-11">
                  <input type="text" class="form-control" id="description" name="description" placeholder="Descrição" required>
                  <input type="text" class="form-control" value="{{.Id}}" name="Id" hidden>
                </div>
              </div>
            </div>
          </form>
        </li>
        {{ range .Todos }}
          <li class="list-group-item">
            <div class="row">
              <div class="col-1">
                <button class="btn btn_delete" title="Excluir">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
              <div class="col-1">
                  {{ if .Completed }}
                    <button class="btn button-uncheck" title="Incompleto">
                      <i class="bi bi-check-square"></i>
                    </button> 
                  {{ else }}
                    <button class="btn button-check" title="Completo">
                      <i class="bi bi-square"></i>
                    </button>
                  {{ end }}
              </div>
              <div class="col-2 pt-2">
                {{ .UpdatedAt.Format "02/01/2006" }}

              </div>
              <div class="col-8 pt-2">
                <input type="text" class="todo_id" name="{{.ID}}" value="{{.ID}}" hidden>
                {{ if .Completed }}
                  <span><del>{{ .Description }}</del></span>
                {{ else }}
                  <span>{{ .Description }}</span>
                {{ end }}
              </div>
            </div> 

          </li>
        {{ end }}
    </ul>
</div>

{{ template "footer" . }}

</div>

<script>
  $(document).ready(function() {
    $('#description').focus();
    $('html, body').animate({ scrollTop: 0 }, 'fast');
  });

  $('.button-uncheck').click(function(event) {
    event.preventDefault();
    parseId($(this),'/todos_uncheck');
  });

  $('.button-check').click(function(event) {
    event.preventDefault();
    parseId($(this),'/todos_check');
  });

  $('.btn_delete').click(function(event) {
    event.preventDefault();
    parseId($(this),'/todos_delete');
  });

  function parseId(context,route) {

    const Id = context.closest('li').find('.todo_id').val();
    fetch(route, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ Id: parseInt(Id) })
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            alert(data.message);
            window.location.href = '/todos';
        } else if (data.error) {
            alert(data.error);
        }
    });
  }


</script>